<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Branch Inventory Delivery Service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="container">
        <section class="menuContainer">

<!-- This section of the app is for selecting which store is requesting delivery 
     & which store will be supplying the delivery   
-->
            <!-- This is the container for the Store Locations section, it provides structure for both the "store location" dropdown menus and the address spans -->
            <section class="storeLocationsContainer"> 

                <!-- This is the container for the "Current Location" subsection, it provides structure for the "current location" dropdown menu and the address spans -->
                <section class="currentLocation locationSelector">

                    <!-- This is the dropdown menu where you select your current location -->
                    <span class="sectionLabel">Where are the items going?</span>
                    <select name="currentLocationSelect" id="currentLocationSelect">
                        <option class="branchOption" value="currentBranch1">Branch 1</option>
                        <option class="branchOption" value="currentBranch2">Branch 2</option>
                        <option class="branchOption" value="currentBranch3">Branch 3</option>
                    </select>

                    <!-- This is the section where the current address is shown to the user to confirm the selection -->
                    <section class="currentAddressContainer addressContainer">
                        <span class="currentStreet street"></span>
                        <span class="currentCityName cityName"></span>
                        <span class="currentZipCode zipCode"></span>
                    </section>

                </section>
        
                <!-- This is the container for the "Delivering Location" subsection, it provides structure for the delivering location dropdown menu and address spans -->
                <section class="requestingLocation locationSelector">

                    <!-- This is the dropdown menu where you select the delivering location -->
                    <span class="sectionLabel">Where are the items coming from?</span>
                    <select name="deliveringLocationSelect" id="deliveringLocationSelect">
                        <option class="branchOption" value="deliveringBranch1">Branch 1</option>
                        <option class="branchOption" value="deliveringBranch2">Branch 2</option>
                        <option class="branchOption" value="deliveringBranch3">Branch 3</option>
                    </select>

                    <!-- This is the section where the delivering address is shown to the user to confirm the selection -->
                    <section class="deliveringAddressContainer addressContainer">
                        <span class="deliveringStreet street"></span>
                        <span class="deliveringCityName cityName"></span>
                        <span class="deliveringZipCode zipCode"></span>
                    </section>

                </section>
    
            </section>

<!-- This section of the app is where the client selects which items need to be delivered -->

            <!-- This is the  container for the "Items" section, it provides structure for the items table -->
            <section class="itemsContainer">
    
                <!-- This is a secondary container for the "Items" section, which allows for fine tuning in CSS -->
                <section class="itemsToRequest itemsSelector">

                    <!-- This is the items table, it contains all the items that can be requested for delivery, as well as a place to input quantity of items -->
                    <table id="orderItems">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Select</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Milk</td>
                                <td><input type="checkbox" name="item" data-item="milk" class="item milkSelect"></td>
                                <td><input type="number" name="quantity" class="quantity milkQuantity" placeholder="Leave blank if 0"></td>
                            </tr>
                            <tr>
                                <td>Cups</td>
                                <td><input type="checkbox" name="item" data-item="cups" class="item cupsSelect"></td>
                                <td><input type="number" name="quantity" class="quantity cupsQuantity" placeholder="Leave blank if 0"></td>
                            </tr>
                            <tr>
                                <td>Lids</td>
                                <td><input type="checkbox" name="item" data-item="lids" class="item lidsSelect"></td>
                                <td><input type="number" name="quantity" class="quantity lidsQuantity" placeholder="Leave blank if 0"></td>
                            </tr>
                            <tr>
                                <td>Straws</td>
                                <td><input type="checkbox" name="item" data-item="straws" class="item strawsSelect"></td>
                                <td><input type="number" name="quantity" class="quantity strawsQuantity" placeholder="Leave blank if 0"></td>
                            </tr>
                            <tr>
                                <td>Napkins</td>
                                <td><input type="checkbox" name="item" data-item="napkins" class="item napkinsSelect"></td>
                                <td><input type="number" name="quantity" class="quantity napkinsQuantity" placeholder="Leave blank if 0"></td>
                            </tr>
                                                        
                        </tbody>
                    </table>
                    
                </section>

            </section>

<!-- This section of the app is a button -->

            <section class="orderButtonContainer">
                <section class="placeOrder">
                    <button id="orderBtn">Next Step</button>
                </section>
            </section>

        </section>
    </section>

    <script src="/js/main.js"></script>
    <script src="/js/delivery.js"></script>
</body>
</html>