<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm your selection</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="container">
        <section class="pageContainer">

            <section class="userConfirmationContainer">

                <span class="userConfirmationText">The following items will be ordered from </span>

            </section>

            <section class="orderInformationContainer">

                <section class="tableContainer">

                    <table class="itemsTable">
                    </table>

                </section>


                
            </section>

            <section class="buttonContainer">
            </section>


        </section>

    </section>
    <!-- A place that asks the user to confirm their selection -->

    <!-- A place to put the order information for the user to confirm -->

    <!-- Two buttons, one for cancel, one for 'place order' -->
</body>
</html>