/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sectionLabel {
    font-weight: bold;
    font-size: 1.2rem;
}


/******************************************
/* LAYOUT
/*******************************************/
.container {
    height: 100vh;
    padding: 1%;
}

.menuContainer {
    padding: 0.2%;
    border: none;
}

/***************************
STORE LOCATIONS SECTION
***************************/

.storeLocationsContainer {
    height:18vh;
    display: flex;
    margin-bottom: 8%;
    border: none;
}

.currentLocation {
    /* border: 2px solid green; */
    flex: 1;
}

select {
    width: 70%;
    height: 7vh;
    text-align: center;
}

.requestingLocation {
    /* border: 2px solid blue; */
    flex: 1;
}

.locationSelector {
    text-align: center;
    margin: auto;
}

.locationSelector span {
    display: block;
}

.addressContainer {
    margin-top: 2.5%;
    font-weight: bold;
}


/***************************
SELECT ITEMS SECTION
***************************/

.itemsContainer {
    height: 18vh;
    margin-bottom: 0.5%;
    display: flex;
    border: none;
}

.itemsToRequest {
    /* border: 2px solid red; */
    flex: 1;
}

table {
    margin: auto;
}

th {
    text-align: left;
}

.itemsSelector {
    margin: auto;
}

form, input {
    min-width: 0;
}


/***************************
ORDER BUTTON SECTION
***************************/

.orderButtonContainer{
    height: 15vh;
    border: none;
    margin-top: 13%;
}

.placeOrder {
    height: 100%;
    /* border: 2px solid yellow; */
}

button {
    height: 100%;
    width: 100%;
}

/***************************
MEDIA QUERIES - currently unused
***************************/



/* @media screen and (max-width: 905px){
    
    button {
        margin-top: 3%;
    }

}

@media screen and (max-width: 745px){
    
    button {
        margin-top: 8%;
    }

}

@media screen and (max-width: 675px){
    
    button {
        margin-top: 13%;
    }

}

@media screen and (max-width: 667px){
    
    button {
        margin-top: 18%;
    }

}

@media screen and (max-width: 645px){
    
    button {
        margin-top: 22%;
    }

}

@media screen and (max-width: 613px){
    
    button {
        margin-top: 28%;
    }

} */